[submodule "external/mmcv"]
	path = external/mmcv
	url = https://github.com/open-mmlab/mmcv.git
	ignore = untracked
[submodule "external/ViTPose"]
	path = external/ViTPose
	url = https://github.com/ViTAE-Transformer/ViTPose.git
	ignore = untracked
[submodule "external/MotionBERT"]
	path = external/MotionBERT
	url = https://github.com/Walter0807/MotionBERT.git
	ignore = untracked
